.MiniPalette {
  background-color: aliceblue;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.MiniPalette:hover {
  cursor: pointer;
}

.MiniPalette a {
  text-decoration: none;
}

.MiniPalette-color {
  width: 20%;
  padding-top: 20%;
}

.MiniPalette-colors {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.MiniPalette-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  color: #000;
}

.MiniPalette-delete-icon {
  background-color: crimson;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
}

.MiniPalette-delete-icon svg {
  fill: #f0f8ff80;
}

.MiniPalette-delete-icon:hover svg {
  fill: aliceblue;
}

.MiniPalette:hover .MiniPalette-delete-icon {
  opacity: 1;
}
