.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
}

.NavBar-logo {
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
}

.NavBar-logo-text {
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.NavBar a {
  text-decoration: none;
}

.NavBar-item {
  flex-basis: 33%;
}

.NavBar-select {
  display: flex;
  justify-content: flex-end;
}

.NavBar-alert {
  background-color: #10af33;
  padding: 20px 70px;
  border-radius: 10px;
  color: #eee;
  position: relative;
}
.NavBar-alert-text {
  font-size: 1.5rem;
}
.NavBar-alert-x {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
